{% extends 'base.html' %}

{% block title%} Your Profile{% endblock %}

{% block content %}
{% if current_user.profile %}
<div class="container" style="justify-content: center;">
    <div class="row">
        <div class="col-md-8 col-lg-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3>{{current_user.username}}</h3>
                </div>
                <div class="panel-body">
                    <img src="{{user.profile.pic.url}}" alt="profile photo" class="img-responsive"><br>
                    {% autoescape on %}
                    <h5>{{user.profile.bio | safe}}</h5>
                    {% endautoescape%}
                </div>
                <div class="panel-footer">
                    <h6>{{user.profile.contact}}</h6>
                </div>
            </div>
        </div>
    </div>
</div>
{% else %}
<div class="container">
    <div class="row">
        <h1>Hello {{current_user.username}}</h1>
        <h1>You don't have a profile yet. <span><a href="{% url 'addprofile'%}">Add one</a></span></h1>
    </div>
</div>
{% endif %}
<div class="container">
    {% if projects %}
    <div class="row">
        <h2 style="text-decoration: underline;" class="text-center">Your Projects</h2>
        {% for project in projects %}
            <div class="col-md-4 col-lg-4">
                <div class="card">
                    <div class="card-header"><h3>{{project.title}}</h3></div>
                    <div class="card-body">
                        <img src="{{project.image.url}}" style="height: 300px;width: 300px;" alt="landing page">
                    </div>
                    <div class="card-footer">
                        <h4> <a href="{{project.link}}">Live link: {{project.link}}</a> </h4>
                        <button class="btn btn-primary"><a href="{% url 'projectdetail' project_id=project.id%}" style="color: white;">View Details</a></button>
                        <button class="btn btn-primary"><a href="{% url 'addrating' project_id=project.id%}" style="color: white;">Rate</a></button>
                    </div>
                </div>
            </div>

        {% endfor %}
    </div>
    {% else %}
    <div class="row">
        <h1>You have not posted any projects yet. <span><a href="{% url 'uploadproject' %}"> Add one</a></span></h1>
    </div>
    {% endif %}
</div>

{% endblock %}