{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="panel panel-default" style="background-color: #FAFAFA;">
            <div class="panel-body">
                <img src="{{primer.image.url}}" alt="pic" class="img-fluid img-rounded" style="height: 300px;width: 300px;">
                {% if ratings %}
                <h1 style="color: #ff006e;">The Scores Are In</h1>
                <ul>
                    <li>Average Content Score: {{contentscore}}</li>
                    <li>Average Design Score: {{designscore}}</li>
                    <li>Average Usability Score: {{usabilityscore}}</li>
                    <li>Overall Score: {{proscore}}</li>
                </ul>
                {% else %}
                <h1 style="color: #ff006e;">This project has not yet been rated</h1>
                {% endif %}
            </div>
        </div>
    </div>
</div>



{% endblock %}