{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <form method="get">
                {{ filter.form.as_p }}
                <button type="submit">Search</button>
            </form>
        </div>
    </div>
    <div class="row">
        {% if filter.qs %}
        <h2>Found {{filter.qs|length}} projects from your search </h2>
        {% for project in filter.qs %}
            <div class="col-md-4 col-lg-4">
                <div class="card">
                    <div class="card-header"><h3>{{project.title}}</h3></div>
                    <div class="card-body">
                        <img src="{{project.image.url}}" style="height: 300px;width: 300px;" alt="landing page">
                    </div>
                    <div class="card-footer">
                        <h4> <a href="{{project.link}}">Live link: {{project.link}}</a> </h4>
                        <button class="btn btn-primary"><a href="{% url 'projectdetail' project_id=project.id%}" style="color: white;">View Details</a></button>
                        <button class="btn btn-primary"><a href="{% url 'addrating' project_id=project.id%}" style="color: white;">Rate</a></button>
                        <button class="btn btn-primary"><a href="{% url 'calcratings' project_id=project.id%}" style="color: white;">View Score</a></button>

                    </div>
                </div>
            </div>

        {% endfor %}
        {% else %}
            <h3>Found 0 projects from your search</h3>
        {% endif %}
    </div>
</div>


{% endblock %}